<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/demo.css">
</head>
<body>
	<!-- 导航栏 -->
	<div class="navbar">
		<div class="logo">学生管理系统</div>	
		<div class="nav">
		    <li>									
			    <a href="" class="navlink">首页</a>
			</li>
			<li>
			    <a href="http://localhost:4000/login" class="navlink">登录/注册</a>
		    </li>
		    <li>
			    <a href="" class="navlink">帮助</a>
			</li>
			<li class="item">
			    <a href="" class="navlink">更多</a>
				<ul class="list">					
					<li>
						<p>关于</p>
					</li>
					<li>
						<p>下载</p>
					</li>					
					<li>
						<p>博客</p>
					</li>
					<li>
						<p>检查更新</p>
					</li>
					<li>
						<p>联系我们</p>
					</li>
					<li>
						<p>高级会员</p>
					</li>
		        </ul>	
		    </li>    		
		</div>		
	</div>	
	<!-- 导航栏分割线 -->
	<div class="line"></div>
	<div class="content">
		<!-- 轮播图 -->
		<div id="bannerimg">
		    <ul class="pic">
		        <li><a href="javascript:;"><img src="/img/img1.png" alt="pic1"></a></li>
		        <li><a href="javascript:;"><img src="/img/img2.png" alt="pic2"></a></li>
		        <li><a href="javascript:;"><img src="/img/img3.png" alt="pic3"></a></li>
		        <li><a href="javascript:;"><img src="/img/img4.png" alt="pic4"></a></li>
		        <li><a href="javascript:;"><img src="/img/img5.png" alt="pic5"></a></li>	        
		        <li><a href="javascript:;"><img src="/img/img1.png" alt="pic1"></a></li><!-- 克隆第一张 -->
		    </ul>				    
		</div>
		<!-- 标题 -->
		<div class="bg">
			<div class="head">
				应用
				<span class="green">学生管理</span>
			</div>
			<div class="head">—— 记录校园点滴 ——</div>
			<div class="headtext">随时随地获取、整理、分享笔记，让灵感时刻与你同行</div>
		</div>
		<!-- 中间文字介绍部分 -->
		<div class="center" style="background: url(/img/bd.jpg);width: 100%;height: 1200px;">
			<p class="centertext">集添加、记录、保存、修改于一体在一个地方就能找到</p>
			<div class="row">
				<div class="textrow">					
					<h2><img src="/img/sj.png"> 收集</h2>
					<p>一键收集微信、网页、微博、剪切板等碎片化信息，批量导入各种文档。</p>
				</div>
				<div class="textrow" style="float: right;">
					<h2><img src="/img/jl.png"> 记录</h2>
					<p>以文字、清单、图片、拍照、语音等形式记录，一次记录永久保存。</p>
				</div>
				<div class="textrow">					
					<h2><img src="/img/bc.png"> 保存</h2>
					<p>资料永久保存在云端，修改后的笔记会保存历史版本，无需担心资料丢失。</p>
				</div>
				<div class="textrow" style="float: right;">					
					<h2><img src="/img/gx.png"> 共享</h2>
					<p>用链接、QQ、微信等方式分享资料给任何人，用群组和团队成员一起共享资料。</p>
				</div>
			</div>
		<!-- </div> -->
		<div class="trybox">
			<h2>- 探索全新的体验方式 -</h2>
		    <div class="trymore" >立即体验</div>
		</div>
	</div>
	</div>	
	<footer>
		<p>| 网站地图 | 法律声明 | 友情链接 | 交流平台 | </p><br>						
        <p>版权所有 电子信箱:123456@123.cn</p>
    </footer>
</body>
</html>